# Ignore Python virtual environment folder
venv/
env/

# Ignore macOS system files
.DS_Store

# Ignore Python bytecode and cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large data files
data/

# Ignore logs and temporary files
*.log
*.tmp

xgboost/xgboost/
